@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.app{
  display: flex;
  position: relative;
}
/*scrollbar*/
::-webkit-scrollbar{
  width: 10px;
}
/*track*/
::-webkit-scrollbar-track{
  background: #fbfafa;
}
/*handle*/
::-webkit-scrollbar-thumb{
  background: #6d6c6c;
}
/*hover over scrollbar*/
::-webkit-scrollbar-track:hover{
  background: #555;
}

